body {
	text-align: center;
}

label {
	font-weight: bold;
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: 12px;
}

select {
	width: 200px;
}

#maxlen {
	width: 190px;
}

.bottom {
	text-align:left;
	margin-left: 50%;
}

table {
	text-align: center;
	margin-left: 33.33%;
}
