body {
    padding: 70px 0;
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #222233;
    color: #CFA7F6;
}

#inputs {
    text-align: center;
    font-size: 25px;
}


input {
    border-radius: 25px;
    border: 2px solid #609;
    padding: 20px; 
    width: 200px;
    height: 15px;
    font-size: 20px;
}

button {
  font-size: 13px;
  color: white;
  letter-spacing: 2px;
  line-height: 17px;
  border: 2px solid #CFA7F6;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  margin-top: 10px;
  box-shadow: 5px 3px;
}

input button {
    font-size: 100px;
}

button:hover{
    background-color: rgba(91, 192, 222, 0.75);
}

#song_list {
    float: left;
    width: 50%;
    text-align: center;
    font-size:25px;
}

#song_list h2 {
    color: white;
}

#lyrics {
    float: left;
    width: 50%;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    text-align: left;
    font-size: 15px;
    margin-left: 120px;
}
